#map-container,
#map-geocoder-container {
  position: relative;
  width: inherit;
  max-width: 1200px;
  margin: 0 auto 10px auto;
  height: 800px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px) {
  #map-container,
  #map-geocoder-container {
    width: 100%;
    height: 400px;
  }
}
#map,
#map-geocoder {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.mapboxgl-popup-content {
  display: flex;
  flex-direction: column;
}
.mapboxgl-popup-content .row:not(:first-child) {
  width: 100%;
  padding-top: 1em;
  display: flex;
  align-items: center;
}

.mapboxgl-popup-content .title {
  text-align: center;
  margin: 0;
}
.mapboxgl-popup-content img {
  width: 30px;
  padding: 5px;
}
.marker {
  background-image: url("etoile.svg");
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
.mapboxgl-popup-content {
  min-width: 150px;
}
#geocoder-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  #geocoder-menu {
    flex-direction: column;
  }
}
form {
  display: flex;
  flex-wrap: wrap;
}
.form-field {
  margin: 1rem 0.2rem 0 0.2rem;
}

.send-button {
  width: 100%;
  margin-top: 1rem;
}
#geocoder-menu button {
  display: inline-block;
  height: 36px;
  padding: 6px 35px;
  margin: 0;
  text-decoration: none;
  background: #ffffff;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  transition: box-shadow 250ms ease-in-out, transform 150ms ease,
    color 500ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#geocoder-menu .button-active:hover,
#geocoder-menu .button-active:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#geocoder-menu button:focus {
  outline: 1px solid rgb(49, 49, 49);
  outline-offset: -4px;
}

#geocoder-menu .button-inactive {
  color: rgba(0, 0, 0, 0.4);
}
#geocoder-menu .button-active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: #242424;
}
#geocoder-menu button:active {
  transform: scale(0.99);
}

/* Page settings.php*/
.wp-list-table #the-list p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
